@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    visibility: visible;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    visibility: visible;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: right;
}
body {
  text-align: right;
}
.header-container .top-bar .topbar-content #mega_main_menu_first {
  float: left;
}
.header-container .top-bar .topbar-content #mega_main_menu_first .menu_holder .menu_inner ul li .item_link {
  border-width: 0 1px 0 0;
  border-color: #f3f3f3;
  border-style: solid;
}
.header-container .top-bar .topbar-content #mega_main_menu_first .menu_holder .menu_inner ul li .item_link.with_icon i {
  float: right;
  padding: 0 0 0 5px;
}
.header-container .top-bar .topbar-content .lang-currency {
  float: left;
}
.header-container .top-bar .topbar-content .lang-currency #lang_sel ul li a.lang_sel_sel:after {
  margin: 0 5px 0 0;
}
.header-container .top-bar .topbar-content .lang-currency .currency-switcher .chosen-container .chosen-single span:after {
  margin: 0 5px 0 0;
}
.header-container .top-link .widget_shopping_cart .widget_shopping_cart_content .mini_cart_content {
  right: auto;
  left: 0;
}
.header-container .header .widget_shopping_cart,
.header-container .header .header-search {
  float: left;
}
.header-container .header .header-search .widget.widget_product_search #searchform #ws {
  right: auto;
  left: 0;
}
.header-container .header .horizontal-menu #mega_main_menu > .menu_holder .menu_inner> ul {
  text-align: right;
}
.header-container .header .horizontal-menu #mega_main_menu > .menu_holder .menu_inner> ul > li > a.item_link .link_text:before {
  left: auto;
  right: 0;
}
.header-container .header .horizontal-menu #mega_main_menu > .menu_holder .menu_inner> ul > li .mega_dropdown {
  text-align: right;
}
.header-container .header .horizontal-menu #mega_main_menu > .menu_holder .menu_inner> ul > li.multicolumn_dropdown > ul.mega_dropdown > li a .link_text:before {
  margin: 0 0 0 10px;
  content: "\f104";
}
.header-container .header .horizontal-menu #mega_main_menu > .menu_holder .menu_inner> ul > li.default_dropdown > ul.mega_dropdown > li a.item_link .link_text:before {
  margin: 0 0 0 10px;
  content: "\f104";
}
.header-container .header .horizontal-menu #mega_main_menu li.default_dropdown.drop_to_right .mega_dropdown {
  left: auto;
  right: 0;
}
.nav-container .mbmenu-toggler {
  text-align: right;
}
.nav-container .mbmenu-toggler span.mbmenu-icon {
  float: left;
}
.nav-container .mobile-menu-container ul.nav-menu > li .fa {
  right: auto;
  left: 0;
}
.nav-container .mobile-menu-container ul.nav-menu > li ul.sub-menu {
  padding: 0 10px 0 0;
}
.nav-container .mobile-menu-container ul.nav-menu li {
  text-align: right;
}
.wrapper .sidebar-toggler {
  float: left;
}
.wrapper.sub-open {
  transform: translate(380px,0px);
  -webkit-transform: translate(380px,0px);
}
.wrapper .wpb_wrapper:hover .slick-slider button:before {
  content: "\f105";
}
.wrapper .wpb_wrapper:hover .slick-slider button:hover.slick-prev {
  padding: 0 0 0 15px;
}
.wrapper .wpb_wrapper:hover .slick-slider button.slick-next {
  left: 0;
  right: auto;
}
.wrapper .wpb_wrapper:hover .slick-slider button.slick-next:before {
  content: "\f104";
}
.wrapper .wpb_wrapper:hover .slick-slider button.slick-prev {
  right: 0;
  left: auto;
}
#secondary.sidebar-sub {
  right: auto;
  left: 0;
}
#secondary ul li a:before,
#secondary ol li a:before {
  content: "\f100";
  margin: 0 0 0 10px;
}
#secondary ul li .count,
#secondary ol li .count {
  float: left;
}
#secondary .widget .tagcloud a {
  float: right;
}
#secondary .widget .shop-products .item-col .list-col4 {
  float: right;
}
#secondary .widget .shop-products .item-col .list-col8 {
  float: right;
  padding: 0 18px 0 0;
}
#secondary .widget .shop-products .item-col .list-col8 .listview {
  text-align: right;
}
#secondary .widget .shop-products .item-col .product-wrapper h2.product-name,
#secondary .widget .shop-products .item-col .product-wrapper .ratings {
  text-align: right;
}
.main-container .category-carousel .wpb_wrapper:hover button.slick-next {
  left: 25px;
}
.main-container .category-carousel .wpb_wrapper:hover button.slick-prev {
  right: 25px;
}
.main-container .products-carousel .wpb_content_element .wpb_wrapper > h3 span {
  padding: 0 0 0 30px;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist,
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .compare-button,
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .quickviewbtn {
  float: right;
  border-right: 1px solid #fff;
  border-left: 0;
}
.main-container .shop-products.list-view .item-col .product-wrapper .product-name,
.main-container .shop-products.list-view .item-col .product-wrapper .product-desc {
  text-align: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions {
  float: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-cart {
  float: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .price-rate .price-box {
  float: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .price-rate .ratings {
  float: left;
}
.main-container .latest-posts .post-wrapper .post-thumb {
  padding: 0 120px 0 0;
}
.main-container .latest-posts .post-wrapper .post-thumb .post-meta.ontop {
  left: auto;
  right: -120px;
}
.main-container .latest-posts .post-wrapper .post-thumb .post-info {
  text-align: right;
}
.main-container .latest-posts .post-wrapper .post-thumb .post-info .readmore i {
  margin: 0 20px 0 0;
}
.main-container .newsletter-social .wpb_wrapper .widget_wysija .wysija-paragraph {
  float: right;
}
.main-container .newsletter-social .wpb_wrapper .widget_wysija .wysija-paragraph .wysija-input {
  border-left: 1px solid #fff;
  border-right: 0;
}
.main-container .newsletter-social .wpb_wrapper .widget_wysija .wysija-submit {
  float: right;
}
.main-container div.product-category a h3 {
  direction: ltr;
}
.main-container .product-view .summary.single-product-info .price-box {
  float: right;
}
.main-container .product-view .summary.single-product-info .woocommerce-product-rating {
  float: left;
}
.main-container .product-view .summary.single-product-info .cart .quantity {
  float: right;
  margin: 0 0 0 10px;
}
.main-container .product-view .summary.single-product-info .cart .button {
  float: right;
  padding: 0 0 0 30px;
}
.main-container .product-view .summary.single-product-info .cart .button:before {
  margin: 0 20px 0 10px;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs {
  float: right;
  border-width: 0 1px 1px 0;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li:before {
  left: auto;
  right: -1px;
}
.main-container .product-view .product .woocommerce-tabs .panel {
  float: right;
}
.main-container .product-view .single-product-image .images {
  padding: 0 0 0 180px;
}
.main-container .product-view .single-product-image .images .zoom_in_marker {
  left: auto;
  right: 10px;
}
.main-container .product-view .single-product-image .thumbnails.slider {
  right: auto;
  left: 50px;
}
.main-container .modul-group .shop-products .item-col .product-wrapper .list-col4 {
  float: right;
}
.main-container .modul-group .shop-products .item-col .product-wrapper .list-col8 {
  text-align: right;
  margin: 0 115px 0 0;
}
.main-container .modul-group .shop-products .item-col .product-wrapper .list-col8 .listview .ratings {
  text-align: right;
}
.main-container .blog-page .post-thumbnail {
  float: right;
  padding: 0 120px 0 0;
}
.main-container .blog-page .post-thumbnail .post-meta.ontop {
  left: auto;
  right: 0;
}
.main-container .blog-page .postinfo-wrapper {
  float: right;
  padding: 0 30px 0 0;
}
.main-container .blog-page .postinfo-wrapper.no-thumbnail {
  padding: 0;
}
.main-container .blog-page .entry-title {
  text-align: right;
}
.main-container .blog-page.single .postinfo-wrapper {
  padding: 0 140px 0 0;
}
.main-container .blog-page.single .postinfo-wrapper .post-date {
  left: auto;
  right: 0;
}
.main-container .blog-page .social-sharing .widget-title {
  float: right;
  margin: 0 0 0 20px;
}
.main-container .blog-page .social-sharing .social-icons {
  float: right;
}
.main-container .blog-page .author-info .author-avatar {
  float: right;
}
.main-container .blog-page .author-info .author-description {
  margin-left: 0;
  float: left;
}
.main-container.about-page .about-info table h3:after {
  left: auto;
  right: 0;
}
.main-container .about_header {
  text-align: right;
}
.main-container .entry-header .entry-title {
  text-align: right;
}
.footer .widget-title {
  text-align: right;
}
.footer .footer-top .woocommerce div.product .list-col4 {
  float: right;
}
.footer .footer-top .woocommerce div.product .list-col8 {
  text-align: right;
  margin: 0 90px 0 0;
}
.footer .footer-top .woocommerce div.product .list-col8 .listview .product-name a {
  text-align: right;
}
.footer .footer-bottom .bottom-right {
  float: left;
}
.home2-banner .banner-box .box-inner .icon {
  right: auto;
  left: -35px;
  -webkit-transform: translate(-50px,50px);
  -moz-transform: translate(-50px,50px);
  transform: translate(-50px,50px);
}
.home2-banner .banner-box .box-inner .icon:after {
  left: -13px;
}
.home2-banner .banner-box.banner-box1 {
  padding-right: 15px !important;
  padding-left: 1px !important;
}
.home2-banner .banner-box.banner-box1 > .wpb_wrapper {
  margin: 0 0 0 -6px;
}
.home2-banner .banner-box.banner-box3 {
  padding-left: 15px !important;
  padding-right: 1px !important;
}
.home2-banner .banner-box.banner-box3 > .wpb_wrapper {
  margin: 0 -6px 0 0;
}
#back-top {
  right: auto;
  left: 12px;
}
@media (min-width: 768px) {
  .vc_col-sm-1,
  .vc_col-sm-2,
  .vc_col-sm-3,
  .vc_col-sm-4,
  .vc_col-sm-5,
  .vc_col-sm-6,
  .vc_col-sm-7,
  .vc_col-sm-8,
  .vc_col-sm-9,
  .vc_col-sm-10,
  .vc_col-sm-11,
  .vc_col-sm-12 {
    float: right !important;
  }
}
@media (max-width: 991px) {
  .header-container .top-bar .topbar-content #mega_main_menu_first,
  .header-container .top-bar .topbar-content .lang-currency {
    float: none;
  }
  .main-container .product-view .single-product-image .images {
    padding-left: 130px;
  }
  .main-container .product-view .single-product-image .thumbnails.slider {
    left: 0;
    width: auto;
  }
}
@media (max-width: 767px) {
  .wrapper.sub-open {
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
  }
  .wrapper .sidebar-toggler {
    display: none;
  }
  .main-container .blog-page.blog-nosidebar .postinfo-wrapper {
    padding-right: 0;
  }
  .main-container .home2-banner .banner-box.banner-box1 {
    padding-left: 15px !important;
  }
  .main-container .home2-banner .banner-box.banner-box3 {
    padding-right: 15px !important;
  }
}
@media (max-width: 460px) {
  .main-container .latest-posts .post-wrapper .post-thumb {
    padding: 0;
  }
  .main-container .page-content.blog-page.blog-nosidebar .post-thumbnail {
    padding-right: 0;
  }
  .main-container .page-content.blog-page.blog-nosidebar .post-thumbnail .post-meta.ontop .entry-date,
  .main-container .page-content.blog-page.blog-nosidebar .post-thumbnail .post-meta.ontop .entry-comment {
    float: right;
  }
}
